<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.tax.fileOperate.dao.FileOperateMapper">
	
	<select id="stdInfo" parameterType="String" resultType="java.util.Map">
		SELECT 
		    T1.A100 AS BZH,
			T1.A298 AS ZWMC,
			T1.A302 AS YWMC,
			T1.A200 AS ZT,
			T1.A010 AS FW,
			T1.A101 AS FBRQ,
			T1.A205 AS SSRQ,
			T1.A206 AS FZRQ,
			T1.A305 AS QWYS,
			T1.A1004 AS ZWYZ,
			T1.A461 AS DTBZ,
			T1.A462 AS BDTBZ,
			T1.A800 AS CYBZ,
			T1.A820 AS XGD,
			T1.A209 AS QCDW,
			T1.A825 AS ZBFLH,
			T1.A826 AS ICSFLH,
			T1.A4754 AS GMHYFLH,
			T2.ORGNAME AS BZZZ
		FROM
			STANDARDWC T1
		LEFT JOIN ORG_ALL T2 ON T1.A006 = T2.ORGCODE
		WHERE
		    T1.A100 = #{bzh,jdbcType=VARCHAR}
	</select>
	
	<select id="getA298ByA100" parameterType="String" resultType="String">
		SELECT t1.A298 AS ZWMC
		FROM STANDARDWC t1
		WHERE
		t1.A100 = #{bzh,jdbcType=VARCHAR}
	</select>
	
		<select id="getFilePathByBzh" parameterType="String" resultType="java.util.Map">
		SELECT A100 AS bzh,
		A305 AS ys,
		A1000 AS filepath
		FROM STANDARDWC
		WHERE
		A100 = #{bzh,jdbcType=VARCHAR}
	</select>
	
	
	<select id="checkBzhIsExist" parameterType="String" resultType="java.util.Map">
		SELECT A100 AS bzh
		FROM STANDARDWC
		WHERE
		A100 = #{bzh,jdbcType=VARCHAR}
	</select>
	
	
</mapper>